/*formats the appearance of elements*/

/*GENERAL*/

/*FONT WEIGHTS*/

/* Code from Google Fonts
* Increments of 100
* Thin: 100
* Regular: 400
* Bold: 700
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gap {
    margin: 1rem;
}

/*TEXT*/
h1, h2, h3 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

p, table {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/*INPUT*/
label {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

input[type=text], input[type=password]{
    padding: 0.6rem;
    width: 100%;
}

/*BUTTONS*/
button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    background-color: #1662dd;
    color:#FFFFFF;
    border: none;
    border-radius: 5%;
}

/*NAVIGATION BAR*/
nav, .sidebar {
    width: 10rem;
}

.nav-list {
  list-style-type: none;
}

.nav-item {
    padding: 0.75rem;
    border-right: 0.09rem solid #dddddd;
    border-bottom: 0.09rem solid #dddddd;
    background-color: #f5f5f5;
    
}

.log-out-item {
    background-color: #ba4533;
}

.page-name, .message-recipient-name{
    text-decoration: none;
    color: #0055A2;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.log-out-name {
    color: #FFFFFF;
}

.page-name:hover, .message-recipient-name:hover {
    color: #1b88f4;
}

.log-out-name:hover {
    color: #FFFFFF;
}

/*PAGE FORMATTING*/
.container{
    display: flex;
    
}

.with-side-nav {
    width: 100%;
    overflow-x: hidden;
}

.title-section {
    width: 100%;
    padding: 1rem;
    background-color: #1662dd; 
    color: #FFFFFF;
    text-align: center;
}

.main-content {
    margin: 1rem;
}

/*LOG IN PAGE*/
#log-in-title-section {
    text-align: center;
    background-color: #FFFFFF;
    padding: 1rem;
}

#log-in-input-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vh;
}

#log-in-rectangle {
    align-items: center;
    background-color: #FFFFFF;
    border: 0.1rem solid #dddddd;
    border-radius: 1%;
    padding: 2rem;
}

#log-in-text {
    text-align: center;
    margin-bottom: 1rem;
}

/*PROFILE PAGE*/
#profile-visibility-section {
    text-align: center;
}

/*INFORMATION PAGE*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 0.1rem solid #000000;
    padding: 0.5rem;
    width: 33%;
}

/*CLASSMATES PAGE*/
.classmates-section {
    margin: 1rem 0;
    text-align: center;
}

.classmates-container {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.classmate-result {
    margin: 0.2rem;
    padding: 0.5rem;
    border: 0.09rem solid #000000;
    border-radius: 5%;
    min-width: fit-content;
    flex: 20%;
}

/*MESSAGES PAGE*/
.message-recipient, #message-recipients-title {
    padding: 0.75rem;
    padding: 0.75rem;
    border-right: 0.09rem solid #dddddd;
    border-bottom: 0.09rem solid #dddddd;
    background-color: #f5f5f5;
}

.message {
    display: flex;
    margin: 1rem 0;
}

.message-sender-name {
    margin-right: 0.5rem;
    font-weight: 600;
}

#message-draft {
    position: fixed;
    max-width: 87%;
    bottom: 1rem;
}